$primary: #b72126;

// WHITE
$white: #ffffff;
$white-1: #fafafa;
$white-2: #fbfbfb;

// BLACK
$black: #141517;
$black-1: #434545;
$black-2: #575757;

$accent: #faae42;
$accent-tint: #ffe8c8;

$verdigis: #4ab3af;
