@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 85%;
  margin: auto;
}

.text-accent {
  color: $accent;
}

.flex {
  display: flex;
}

.order-1 {
  order: 1;
}

.align-self-end {
  align-self: flex-end;
}

.bullet {
  display: block;
  margin-right: 2.6rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: $accent;
  border: 0.5rem solid $accent-tint;
}

// GRID SYSTEM

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

// SECTION PADDING

.hero_section--padding {
  padding-block: 16.9rem;
}

.apply_section--padding {
  padding-block: 12rem 16rem;
}

.partners_section--padding {
  padding-block: 16rem;
}

.features_section--padding {
  padding-block: 4.6rem;
}

.cta_section--padding {
  padding-block: 16rem 12rem;
}

.news_section--padding {
  padding-block: 12rem 16rem;
}

.tag {
  border-radius: 4px;
  top: 2rem;
  left: 2rem;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  &-science {
    background-color: #ef4138;
  }
  &-mgmt {
    background-color: #8d3e88;
  }
  &-art {
    background-color: #3ea348;
  }
}

.footer-link {
  color: $white;
}

.btn-mobile-nav {
  z-index: 2;
}

.icon-mobile-nav[name="open"] {
  display: block;
}

.icon-mobile-nav[name="close"] {
  display: none;
}
