// ABOVE 1920 PX
@media (min-width: 120em) {
  html {
    font-size: 62.5%;
  }
  .container {
    max-width: 164rem !important;
    margin: auto;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 60.5% !important;
  }
}

@media (max-width: 99.0625em) {
  html {
    font-size: 48.5% !important;
  }
}

@media (max-width: 79.4375em) {
  html {
    font-size: 44.5% !important;
  }
}

@media (max-width: 72.875em) {
  html {
    font-size: 36.5% !important;
  }
}

@media (max-width: 53.5em) {
  // GENERAL BTN
  button {
    font-size: 2.4rem !important;
  }

  // HEADER SECTION
  .header {
    position: relative;
    &_content {
      &--nav {
        ul {
          font-size: 2.4rem;
        }
      }
    }
  }

  .header_content--nav {
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    ul {
      flex-direction: column;
    }
  }

  .nav-btn-open {
    .icon-mobile-nav {
      &[name="close"] {
        display: block !important;
      }
      &[name="open"] {
        display: none !important;
      }
    }

    .header_content--nav {
      opacity: 0.95;
      transform: translateX(0%);
      pointer-events: auto;
      visibility: visible;
      scroll-behavior: smooth;
    }
  }

  // HERO SECTION
  .hero {
    h1 {
      font-size: 5.5rem;
    }

    &_lightning--wrapper {
      right: 16% !important;
      bottom: 0% !important;
    }
    &_arrow--wrapper {
      width: 12rem !important;
      left: 47%;
      top: -54%;
    }
    &_content {
      &--mid-btn {
        justify-content: center;
        button {
          flex-grow: 1;
        }
      }
      text-align: center;
      flex-direction: column;
      align-items: center;
      &--left {
        flex-direction: row-reverse;
        gap: 5.4rem;
      }
    }
  }

  // APPLY SECTION
  .apply {
    &_squiggle--wrapper {
      display: none;
    }
    &_content {
      &--cta {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  // PARTNERS SECTION
  .partners {
    &_content {
      text-align: center;
      grid-row-gap: 10rem;
      grid-template-columns: 1fr !important;
      &--logos {
        grid-template-columns: repeat(3, 1fr) !important;

        &-wrapper {
          justify-self: center;
        }
      }
      &--details {
        p {
          margin-inline: auto;
        }
      }
    }
  }

  // FEATURES SECTION
  .features {
    &_content {
      &--detail {
        &-p-last {
          &::after {
            top: -25%;
            right: -14% !important;
          }
        }
      }
    }
    &_circle--wrapper {
      left: 6% !important;
    }
  }

  // CTA SECTION
  .cta_content--details {
    grid-template-columns: 1fr !important;
    &:nth-child(2) {
      .cta_content--details-imgWr {
        order: 0;
      }
    }
    &-imgWr {
      justify-self: center;
    }
    &-text {
      text-align: center;
      justify-self: center;
    }
  }

  // COURSE SECTION
  .course {
    .container-course {
      max-width: 90% !important;
    }
  }

  // NEWS SECTION
  .news {
    .container-news {
      max-width: 90% !important;
    }

    &_content {
      &--details {
        &-body {
          &-cards {
            grid-template-columns: 1fr 1fr !important;
            grid-row-gap: 3rem;
          }
        }
      }
    }
  }

  // FOOTER SECTION
  .footer {
    .container-footer {
      max-width: 90% !important;
    }
    &_content {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-row-gap: 9rem;
    }
  }
}

@media (max-width: 45.125em) {
  .hero {
    &_arrow--wrapper {
      width: 12rem !important;
      left: 45%;
      top: -54%;
    }
  }

  // FEATURES SECTION
  .features {
    &_circle--wrapper {
      left: 2% !important;
    }
  }
}

// DEFAULT MOBILE DEVICE SIZE
@media (max-width: 32em) {
  html {
    font-size: 36.5% !important;
  }

  .btn-primary {
    padding: 2.4rem 2.8rem !important;
  }

  // HERO SECTION
  .hero {
    &_arrow--wrapper {
      width: 8rem !important;
      left: 43%;
      top: -58%;
    }
  }

  // APPLY SECTION
  .apply {
    .container-apply {
      max-width: 90% !important;
    }
    &_content {
      &--card {
        flex-grow: 1;
      }
    }
  }

  // PARTNERS SECTION
  .container-partners {
    max-width: 90% !important;
  }

  // FEATURES SECTION
  .features {
    .container-features {
      max-width: 90% !important;
    }

    &_half {
      &-circle {
        &--wrapper {
          right: 0% !important;
          max-width: 16rem !important;
        }
      }
    }
    &_content {
      grid-template-columns: 1fr !important;
      grid-row-gap: 3.2rem;
      flex-direction: column;

      &--detail {
        &:first-child {
          justify-self: center;
        }
        &:nth-child(2) {
          justify-self: center;
        }
        &:last-child {
          justify-self: center;
        }
        &-p {
          &-last {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  // CTA SECTION
  .cta {
    .container-cta {
      max-width: 90% !important;
    }
  }

  // FOOTER SECTION
  .footer {
    &_content {
      grid-template-columns: repeat(1, 1fr) !important;
      grid-row-gap: 9rem;
    }
  }
}

@media (max-width: 24.125em) {
  .news_content--details-body-cards {
    grid-template-columns: 1fr !important;
    grid-row-gap: 4.8rem !important;
  }
}

// SMALLER MOBILE DEVICE SIZE
@media (max-width: 19.2em) {
  button {
    font-size: 2rem !important;
  }
}
