// ABOVE 1920 PX
@media (min-width: 120em) {
  html {
    font-size: 62.5%;
  }
  .container {
    max-width: 164rem !important;
    margin: auto;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 60.5% !important;
  }
}

@media (max-width: 99.0625em) {
  html {
    font-size: 48.5% !important;
  }
}

@media (max-width: 79.4375em) {
  html {
    font-size: 44.5% !important;
  }
}

@media (max-width: 72.875em) {
  html {
    font-size: 36.5% !important;
  }
}

// @media (max-width: 59.9375em) {
//   html {
//     font-size: 32.5% !important;
//   }
// }

@media (max-width: 53.5em) {
  // HERO SECTION
  .hero {
    &_lightning--wrapper {
      right: 16% !important;
      bottom: 0% !important;
    }
    &_arrow--wrapper {
      width: 12rem !important;
      left: 47%;
      top: -54%;
    }
    &_content {
      &--mid-btn {
        justify-content: center;
        button {
          flex-grow: 1;
        }
      }
      text-align: center;
      flex-direction: column;
      align-items: center;
      &--left {
        flex-direction: row-reverse;
        gap: 5.4rem;
      }
    }
  }

  // APPLY SECTION
  .apply {
    &_squiggle--wrapper {
      display: none;
    }
    &_content {
      &--cta {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  // PARTNERS SECTION
  .partners {
    &_content {
      text-align: center;
      grid-row-gap: 10rem;
      grid-template-columns: 1fr !important;
      &--logos {
        grid-template-columns: repeat(3, 1fr) !important;

        &-wrapper {
          justify-self: center;
        }
      }
      &--details {
        p {
          margin-inline: auto;
        }
      }
    }
  }
  // FEATURES SECTION
  .features {
    &_content {
      &--detail {
        &-p-last {
          &::after {
            top: -25%;
            right: -14% !important;
          }
        }
      }
    }
    &_circle--wrapper {
      left: 6% !important;
    }
  }

  // CTA SECTION
  .cta_content--details {
    grid-template-columns: 1fr !important;
    &:nth-child(2) {
      .cta_content--details-imgWr {
        order: 0;
      }
    }
    &-imgWr {
      justify-self: center;
    }
    &-text {
      text-align: center;
      justify-self: center;
    }
  }
}

@media (max-width: 45.125em) {
  // FEATURES SECTION
  .features {
    &_circle--wrapper {
      left: 2% !important;
    }
  }

  .course {
    .container-course {
      width: 90%;
    }
    &_content {
      &--wrapper {
        figure {
          &:last-child {
            border: 2px solid yellow;
          }
        }
      }
    }
  }
}

// 578 MA BIGRIRAKO XA
