@import "../colors";

.course {
  .container-course {
    max-width: 120rem;
    margin-inline: auto;
  }
  &_content {
    &--wrapper {
      position: relative;
      background-color: $primary;
      border-radius: 2rem;
      padding: 4rem 22rem;
      display: flex;
      gap: 6.4rem;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: 1;
      .course_content {
        &--darkcircle-wrapper {
          position: absolute;
          z-index: -1;
          top: -45%;
          right: -1%;
          max-width: 36rem;
          max-height: auto;
          img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
          }
        }
        &--stringcircle-wrapper {
          position: absolute;
          max-width: 40rem;
          z-index: -1;
          top: -80%;
          left: -12%;
          max-height: auto;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
      &-details {
        span {
          display: inline-block;
          font-weight: lighter;
          font-size: 1.8rem;
          margin-bottom: 1.2rem;
          color: $white;
        }
        h3 {
          color: $white;
          margin-bottom: 4rem;
          min-width: 37.5rem;
        }
      }

      &-imgWr {
        img {
          object-fit: contain;
          object-position: center;
          width: 43.2rem;
          height: auto;
        }
      }
    }
  }
}
