@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 85%;
  margin: auto;
}

.text-accent {
  color: #faae42;
}

.flex {
  display: flex;
}

.order-1 {
  order: 1;
}

.align-self-end {
  align-self: flex-end;
}

.bullet {
  display: block;
  margin-right: 2.6rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #faae42;
  border: 0.5rem solid #ffe8c8;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.hero_section--padding {
  padding-block: 16.9rem;
}

.apply_section--padding {
  padding-block: 12rem 16rem;
}

.partners_section--padding {
  padding-block: 16rem;
}

.features_section--padding {
  padding-block: 4.6rem;
}

.cta_section--padding {
  padding-block: 16rem 12rem;
}

.news_section--padding {
  padding-block: 12rem 16rem;
}

.tag {
  border-radius: 4px;
  top: 2rem;
  left: 2rem;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
.tag-science {
  background-color: #ef4138;
}
.tag-mgmt {
  background-color: #8d3e88;
}
.tag-art {
  background-color: #3ea348;
}

.footer-link {
  color: #ffffff;
}

@media (min-width: 120em) {
  html {
    font-size: 62.5%;
  }
  .container {
    max-width: 164rem !important;
    margin: auto;
  }
}
@media (max-width: 120em) {
  html {
    font-size: 44.25% !important;
  }
}
.fa-user {
  display: inline;
  font-size: 2.4rem;
  padding: 2.4rem;
  box-shadow: 0px 10px 20px 0px rgba(24, 44, 74, 0.12);
  color: #faae42;
  border-radius: 50%;
}

* {
  color: #141517;
}

html {
  font-size: 62.5%;
}

.text_alpha {
  font-size: 6.4rem;
  margin-bottom: 2rem;
}
.text_alpha--sub-txt {
  font-size: 4rem;
  margin-bottom: 6rem;
  color: #434545;
}
.text_alpha--span {
  color: #434545;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.text_beta {
  font-size: 3.6rem;
  line-height: 5.04rem;
  margin-bottom: 2rem;
  font-weight: normal;
}

.text-gamma {
  font-size: 2.8rem;
  line-height: 28/36.4;
  font-weight: normal;
}

.text-delta {
  font-size: 2rem;
  line-height: 20/26;
  font-weight: normal;
}

.btn-primary {
  font-size: 1.6rem;
  padding: 1.2rem 2.8rem;
  border-radius: 0.4rem;
  background-color: #b72126;
  color: #fff;
  border: none;
}

.btn-secondary {
  font-size: 1.6rem;
  background-color: unset;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #b72126;
  color: #faae42;
}

.btn-tertiary {
  font-size: 1.6rem;
  background-color: unset;
  padding: 1.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #edeef2;
}

.btn-quaternary {
  font-size: 1.6rem;
  background-color: unset;
  padding: 2rem 4.2rem;
  border-radius: 0.4rem;
  color: #b72126;
  border: none;
  background-color: #ffffff;
}

.btn-quinary {
  font-size: 1.6rem;
  padding: 1.2rem 2.8rem;
  border-radius: 0.4rem;
  border: 1px solid #faae42;
  background-color: unset;
  color: #faae42;
}

.header {
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
}
.header_content {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
}
.header_content--img {
  width: 12.4rem;
  height: auto;
}
.header_content--btn {
  display: flex;
  gap: 2rem;
}
.header_content--nav-right {
  align-items: center;
  display: flex;
  gap: 8.5rem;
}
.header_content--menu {
  display: flex;
  font-size: 1.6rem;
  gap: 5.8rem;
  list-style: none;
}
.header_content--menu-link {
  color: #141517;
  text-decoration: none;
}

.hero {
  background-color: #fafafa;
  position: relative;
}
.hero_blob--wrapper--2 {
  position: absolute;
  max-width: 40.1rem;
  max-height: auto;
  top: 5%;
  right: 10%;
}
.hero_blob--wrapper--2 img {
  height: 100%;
  width: 100%;
}
.hero_blob--wrapper {
  position: absolute;
  max-width: 47.2rem;
  max-height: auto;
  bottom: 2%;
  right: 20%;
}
.hero_blob--wrapper img {
  height: 100%;
  width: 100%;
}
.hero_tridots--wrapper {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
  width: 30rem !important;
  height: auto;
}
.hero_tridots--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.hero_arrow--wrapper {
  position: absolute;
  bottom: 10%;
  width: 15rem !important;
  height: auto;
}
.hero_arrow--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.hero_lightning--wrapper {
  position: absolute;
  top: 18%;
  right: 7.5%;
  max-width: 4.2rem;
  max-height: auto;
}
.hero_lightning--img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
.hero_content {
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.hero_content--left-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.8rem 5.6rem;
  border-radius: 1.2rem;
  box-shadow: 0px 40px 50px 0px rgba(28, 51, 84, 0.16);
}
.hero_content--left-card-text {
  line-height: 1.6;
  font-size: 1.8rem;
}
.hero_content--left-img-bx {
  position: relative;
  border-radius: 1.2rem;
  padding-top: 1.2rem;
  background-color: #4ab3af;
  min-width: 18rem;
  max-height: 20rem;
  text-align: center;
}
.hero_content--left-img {
  max-height: 18.8rem !important;
}
.hero_content--left-img-dot {
  max-width: 17.5rem;
  z-index: -1;
  position: absolute;
  top: -30%;
  left: -65%;
}
.hero_content--mid {
  padding-top: 3rem;
}
.hero_content--mid-btn {
  display: flex;
  gap: 2rem;
}
.hero_content--right {
  padding-top: 5.2rem;
  position: relative;
}
.hero_content--right-img {
  max-width: 38rem;
}
.hero_content--right-details {
  bottom: 16%;
  right: -14%;
  position: absolute;
}
.hero_content--right-details-text {
  font-size: 1.8rem;
  padding: 2.4rem 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 40px 50px 0px rgba(28, 51, 84, 0.16);
  margin-top: -2rem;
}
.hero_content--right-details-img-wrapper {
  margin-left: 2rem;
  display: inline-flex;
  background-color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
}
.hero_content--right-details-img-wrapper img {
  margin-right: -1rem;
  aspect-ratio: 1;
  width: 2.6rem;
}
.hero_content--right-details-img-wrapper img:last-child {
  margin: unset;
}

.apply {
  position: relative;
}
.apply_squiggle--wrapper {
  position: absolute;
  right: 5%;
  top: 46%;
  max-width: 6.6rem;
  max-height: auto;
}
.apply_squiggle--wrapper img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.apply .container-apply {
  max-width: 120rem;
  margin-inline: auto;
}
.apply_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10rem;
}
.apply_content--cta {
  display: flex;
  gap: 8rem;
}
.apply_content--cta-details h2 {
  margin-bottom: 2.8rem;
}
.apply_content--cta-details p {
  max-width: 49.5rem;
  color: #575757;
  font-size: 1.6rem;
  line-height: 2.56rem;
  font-weight: lighter;
  margin-bottom: 2.8rem;
}
.apply_content--cta-details ul {
  display: flex;
  gap: 1.4rem;
  list-style: none;
  flex-direction: column;
  margin-bottom: 4rem;
}
.apply_content--cta-details ul li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.apply_content--cta-imgWr {
  max-width: 57.1rem;
  max-height: auto;
}
.apply_content--cta-imgWr img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.apply_content--cards {
  display: flex;
  gap: 3rem;
}
.apply_content--card {
  border-radius: 1.2rem;
  padding: 5rem 7.4rem;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.apply_content--card-imgWr {
  max-width: 5rem;
  height: auto;
  margin-bottom: 1.8rem;
}
.apply_content--card-imgWr img {
  object-position: center;
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.apply_content--card-texts :nth-child(1) {
  font-size: 3.6rem;
  margin-bottom: 2.2rem;
}
.apply_content--card-texts :nth-child(2) {
  color: #575757;
  font-size: 1.8rem;
  text-wrap: nowrap;
}

.partners {
  position: relative;
  background-color: #fafafa;
}
.partners_globe--wrapper {
  position: absolute;
  top: 0%;
  left: 5%;
  max-width: 75rem;
  height: auto;
}
.partners_globe--wrapper img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.partners .container-partners {
  max-width: 120rem;
  margin-inline: auto;
}
.partners_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.partners_content--logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 4.5rem;
  grid-column-gap: 7rem;
}
.partners_content--logos-wrapper {
  max-width: 9rem;
  max-height: auto;
}
.partners_content--logos-wrapper img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}
.partners_content--details-p {
  font-size: 1.6rem;
  color: #575757;
  max-width: 42.6rem;
  line-height: 2.56rem;
}

.features {
  position: relative;
  background-color: #b72126;
}
.features_circle--wrapper {
  position: absolute;
  bottom: 0%;
  left: 12%;
  max-width: 3rem;
  max-height: auto;
}
.features_circle--wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.features_half-circle--wrapper {
  position: absolute;
  top: 0%;
  right: 40%;
  max-width: 18rem;
  max-height: auto;
}
.features_half-circle--wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.features .container-features {
  max-width: 113rem;
  margin-inline: auto;
}
.features_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.features_content--detail-p {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: lighter;
}
.features_content--detail-p-last {
  position: relative;
}
.features_content--detail-p-last::after {
  position: absolute;
  top: -25%;
  right: 20%;
  content: "+";
}

.cta .container-cta {
  max-width: 120rem;
  margin-inline: auto;
}
.cta_content {
  display: grid;
  grid-row-gap: 16rem;
  grid-template-columns: 1fr;
}
.cta_content--details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.cta_content--details h2 {
  margin-bottom: 2.8rem;
}
.cta_content--details-p {
  max-width: 55rem;
  color: #575757;
  font-size: 1.6rem;
  line-height: 2.56rem;
  font-weight: lighter;
  margin-bottom: 4rem;
}
.cta_content--details-imgWr {
  max-width: 66rem;
  max-height: auto;
}
.cta_content--details-imgWr img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.course .container-course {
  max-width: 120rem;
  margin-inline: auto;
}
.course_content--wrapper {
  position: relative;
  background-color: #b72126;
  border-radius: 2rem;
  padding: 4rem 22rem;
  display: flex;
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.course_content--wrapper .course_content--darkcircle-wrapper {
  position: absolute;
  z-index: -1;
  top: -45%;
  right: -1%;
  max-width: 36rem;
  max-height: auto;
}
.course_content--wrapper .course_content--darkcircle-wrapper img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
.course_content--wrapper .course_content--stringcircle-wrapper {
  position: absolute;
  max-width: 40rem;
  z-index: -1;
  top: -80%;
  left: -12%;
  max-height: auto;
}
.course_content--wrapper .course_content--stringcircle-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.course_content--wrapper-details span {
  display: inline-block;
  font-weight: lighter;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: #ffffff;
}
.course_content--wrapper-details h3 {
  color: #ffffff;
  margin-bottom: 4rem;
  min-width: 37.5rem;
}
.course_content--wrapper-imgWr {
  max-width: 43.2rem;
  max-height: auto;
}
.course_content--wrapper-imgWr img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.news .container-news {
  max-width: 120rem;
  margin: auto;
}
.news_content--details-body-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}
.news_content--details-body-card {
  position: relative;
  height: 100%;
  box-shadow: 0px 20px 40px 0px rgba(28, 51, 84, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.news_content--details-body-card-texts {
  padding: 3.2rem 2.8rem;
}
.news_content--details-body-card-texts-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.news_content--details-body-card-texts-top-1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.news_content--details-body-card-texts-top-1 i,
.news_content--details-body-card-texts-top-1 span {
  color: #434545;
}
.news_content--details-body-card-texts-mid {
  overflow: hidden;
  margin-bottom: 2.8rem;
}
.news_content--details-body-card-texts-mid h3 {
  font-weight: lighter;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.news_content--details-body-card-imgwr {
  max-width: 41rem;
  max-height: auto;
}
.news_content--details-body-card-imgwr img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.news_content--details-header {
  text-align: center;
  margin-bottom: 6rem;
}

.footer {
  padding-block: 8rem;
  background-color: #b72126;
}
.footer .container-footer {
  max-width: 120rem;
  margin-inline: auto;
}
.footer_content {
  display: grid;
  grid-column-gap: 18.2rem;
  grid-template-columns: repeat(4, 1fr);
}
.footer_content--wrapper {
  display: flex;
  flex-direction: column;
}
.footer_content--wrapper-h {
  margin-bottom: 3rem;
  color: #ffffff;
}
.footer_content--wrapper-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer_content--wrapper-lists li {
  font-weight: lighter;
  font-size: 1.6rem;
  color: #ffffff;
}
.footer_content--wrapper-lists li a {
  text-decoration: none;
}
.footer_content--wrapper-imgwr {
  max-width: 18.6rem;
  max-height: auto;
  margin-bottom: 4rem;
}
.footer_content--wrapper-imgwr img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.footer_content--wrapper-txt {
  min-width: 27.8rem;
  line-height: 16/28;
  font-weight: lighter;
  color: #ffffff;
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
